.accContentOn { /* SWITCHES ON WHEN 508 IS ACTIVE  */
    display: none;
    position: relative;
}

/*============================
== TOP BAR ACCESSIBILITY
=============================*/
#topBar .accessOff {
    background-color:#3D3D3D;
}
#topBar .accessOn {
    background-color:#E85C1C;
    color:#FFFFFF;
    border-radius: 10%;
    -webkit-box-shadow:0 0 0 2px #B94800 inset;
    -moz-box-shadow:0 0 0 2px #B94800 inset;
    box-shadow:0 0 0 2px #B94800 inset;
}
#topBar #accessText ul{  /* FOR THE 508 TEXT AT TOP BAR*/
    position:absolute;
    top: 0px;
    left:0px;
    list-style-type: none;
}
#topBar #accessText li {   /* FOR THE 508 TEXT */
    display: inline;
    position:relative;   
    padding-top:8px !important;
    float:left !important;
    right:300px;
    font-size:13px !important;
    color:#ffffff !important;
    text-align:center !important;
    z-index:201 !important;
    color: white;
}
#topBar #accessText .sideLine {    /* FOR THE 508 TEXT */
    border-right: 3px solid #3d3d3d;
    padding:0 5px 0 5px;
    height:34px;
}
#topBar #accessText .noLine {   /* FOR THE 508 TEXT */
    padding:0 3px 0 5px;
}
/*============================
== SIDE PANEL ACCESSIBILITY
============================*/
.accessOffArrL{             /* ACCESSIBILITY FOR LEFT ARROW IN PROCEDURES PANEL */
    background-image: url(../images/arrowOrange.png) !important;
    transform: scaleX(-1) !important;
}
.accessOffArrR{           /* ACCESSIBILITY FOR RIGHT ARROW IN PROCEDURES PANEL */
    background-image: url(../images/arrowOrange.png) !important;
    transform:none !important;
}
.sideLetterAccessOff {         /* STYLING OF SIDE LETTER WITH NO 508 */
    background-color:rgba(51,51,51, 0.85);
    color:#8C8C8C;
} 
.sideLetterAccessOn {           /* STYLING OF SIDE LETTER WITH 508 */
    background-color:#E85C1C;
    border-radius: 10%;
    -webkit-box-shadow:0 0 0 2px #B94800 inset;
    -moz-box-shadow:0 0 0 2px #B94800 inset;
    box-shadow:0 0 0 2px #B94800 inset;
    color:white;
}
/*============================
== CONTENT ACCESSIBILITY
============================*/
#accArea{
    position: absolute;
    width: 1012px;
    height:672px;
    top: 0;
    left: 0;
}
.accTxt{
    position: absolute;
    background:#E85C1C;
    border: 2px solid #B94800;
    -moz-border-radius:2px; 
    -webkit-border-radius: 2px; 
    border-radius: 3px;
    width: 20px;
    height: 20px;
	font-family:'Source Sans Pro',sens-serif !important;
	font-size:20px !important;
	font-weight:600 !important;
}

.arrow-up {
    position: absolute;
    left: 3px;
    top: -9px;
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;	
    border-bottom: 7px solid #B94800;
}

.arrow-down {
    position: absolute;
    left: 3px;
    top: 21px;
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;	
    border-top: 7px solid #B94800;
}
.arrow-right {
    position: absolute;
    top: 4px;
    left: 21px;
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #B94800;
}
.arrow-left {
    position: absolute;
    top: 4px;
    left: -9px;
    width: 0; 
    height: 0; 
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent; 
    border-right:7px solid #B94800; 
}
.accTxt p {       /* THE NUMBER/LETTER IN THE ACCESS TEXT BUBBLE */
	font-weight: 600;
	font-size:20px;
	width:100%;
	text-align:center;
	margin-left:0;
	margin-top:0;
    line-height: 19px !important;
    padding-top:0 !important;
	font-family:'Source Sans Pro',sens-serif !important;
} 
#itemPopup {
    position: relative;
    font-weight: 600;
    font-size: 20px;   
    width: 100%;
    text-align: center;
    color: white;
}

/* POSITIONING OF ACC CALLOUT EXAMPLES ON INDEX PAGE */
#acc_overview{top:468px; left: 330px;}
#acc_procBtn{top:346px; left: 330px;}
#acc_procBtn01{top:346px; left: 330px;}
#acc_procBtn02{top:248px; left: 330px;}
#acc_procBtn03{top:372px; left: 330px;}
#acc_procBtn04{top:248px; left: 330px;}
#acc_internal{top:11px; left: 320px;}
#acc_external{top:11px; left: 165px;}
#acc_overview01{top:11px; left: 4px;}
#acc_slidePrev{ }
#acc_slideNext{ }
#acc_slideIntPrev{ }
#acc_slideIntNext{ }

#acc_externalMain{top: 358px; left: 334px; }
#acc_internalMain{top: 358px; left: 334px; }

#acc_quiz{top:373px; left:171px; }
#acc_quiz p {padding:0 !important;}
#acc_exquiz{top:411px; left:332px; }
#acc_exquiz p { padding: 0 !important; }
#acc_inquiz{top:373px; left:171px; }
#acc_inquiz p {padding:0 !important;}

/*#acc_retry{ top:160px; left:265px;}
#acc_retry p {padding:0 !important;}*/

#acc_abdomen { top:169px; left:312px;}
#acc_cephalothorax { top:195px; left:312px;}
#acc_antennae { top:195px; left:312px;}
#acc_cheliped { top:195px; left:312px;}
#acc_walking-legs { top:195px; left:312px;}
#acc_compound-eyes { top:195px; left:312px;}
#acc_swimmerets { top:195px; left:312px;}
#acc_mouthparts { top:195px; left:312px;}
#acc_anus { top:195px; left:312px;}
#acc_telson { top:195px; left:312px;}
#acc_uropods {top:195px; left:312px;}

#acc_gills { top:195px; left:312px;}
#acc_green-gland { top:195px; left:312px;}
#acc_heart { top:169px; left:312px;}
#acc_stomach { top:247px; left:312px;}
#acc_liver { top:221px; left:312px;}
#acc_abdomen-muscle {top:247px; left:312px;}
#acc_slidePrev { top:294px; left:12px; z-index:1000;}
#acc_slideNext { top:294px; left:941px; z-index:1000;}
#acc_slideIntPrev { top:294px; left:12px; z-index:1000; }
#acc_slideIntNext { top:294px; left:941px; z-index:1000;}
#acc_1 {top:81px; left:647px; }
#acc_1 p {padding:0 !important;}
#acc_2 {top:149px; left:647px; }
#acc_2 p {padding:0 !important;}
#acc_3 {top:217px; left:647px; }
#acc_3 p {padding:0 !important;}
#acc_4 {top:285px; left:647px; }
#acc_4 p {padding:0 !important;}

#acc_5 {top:119px; left:808px; }
#acc_5 p {padding:0 !important;}
#acc_6 {top:187px; left:808px; }
#acc_6 p {padding:0 !important;}
#acc_7 {top:255px; left:808px; }
#acc_7 p {padding:0 !important;}
#acc_8 {top:323px; left:808px; }
#acc_8 p {padding:0 !important;}

#acc_9 {top: 17px;left:647px;}
#acc_9 p {padding:0 !important;}
#acc_10 {top: 85px;left:647px;}
#acc_10 p {padding:0 !important;}
#acc_11 {top: 153px;left:647px;}
#acc_11 p {padding:0 !important;}
#acc_12 {top: 221px;left:647px;}
#acc_12 p {padding:0 !important;}

.accTxt.acc_procBtn{position:relative; top:-41px; left: 185px;}