/*========================================
// CONTENT AREA STYLES
//========================================*/


@font-face {
    font-family: 'Facit';
    src: url('../fonts/Facit-Extralight.eot');
    src: url('../fonts/Facit-Extralight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Facit-Extralight.woff') format('woff'),
        url('../fonts/Facit-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Facit';
    src: url('../fonts/Facit-Light.eot');
    src: url('../fonts/Facit-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Facit-Light.woff') format('woff'),
        url('../fonts/Facit-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Facit';
    src: url('../fonts/Facit-Bold.eot');
    src: url('../fonts/Facit-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Facit-Bold.woff') format('woff'),
        url('../fonts/Facit-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Facit';
    src: url('../fonts/Facit-Extrabold.eot');
    src: url('../fonts/Facit-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Facit-Extrabold.woff') format('woff'),
        url('../fonts/Facit-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Facit';
    src: url('../fonts/Facit-Semibold.eot');
    src: url('../fonts/Facit-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Facit-Semibold.woff') format('woff'),
        url('../fonts/Facit-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Facit';
    src: url('../fonts/Facit-Regular.eot');
    src: url('../fonts/Facit-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Facit-Regular.woff') format('woff'),
        url('../fonts/Facit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'MinionPro';
	src: url('../fonts/MinionPro-Regular.eot');
	src: local('☺'), url('../fonts/MinionPro-Regular.woff') format('woff'), url('../fonts/MinionPro-Regular.ttf') format('truetype'), url('../fonts/MinionPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MinionPro';
	src: url('../fonts/MinionPro-It.eot');
	src: local('☺'), url('../fonts/MinionPro-It.woff') format('woff'), url('../fonts/MinionPro-It.ttf') format('truetype'), url('../fonts/MinionPro-It.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}


.wrapper{
	width:100%;
	overflow:hidden;
	position:relative; 
	font-family: 'MinionPro'; 
	color:#000; 
	font-size:16px; 
	background:none;
}
.mainContainer{
	width:1012px; 
	height:726px; 
	overflow:hidden; 
	background:url(../images/main-bg.jpg) repeat left top; 
	margin:auto;
}
 
/* header start */
.header-main{
	float: left;
	width: 100%;
	background: #040404;
	background: -moz-linear-gradient(top, #8f8f8f 0%, #040404 100%);
	background: -webkit-linear-gradient(top, #8f8f8f 0%,#040404 100%);
	background: linear-gradient(to bottom, #8f8f8f 0%,#040404 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7c24', endColorstr='#771b08',GradientType=0 );
}
.site-title span{
	font-family: 'Facit';
	font-weight: 600;
	color: #ffffff;
	font-size: 21px;
	line-height: 1.2;    
	text-shadow: 0 1px 2px rgba(0,0,0,1);
}
.site-title {
	padding: 12px 15px 12px 60px;
	float: left;
	position: relative;
}
.site-title:after{
	position: absolute;
	content: '';
	left: -2px;
	background: url(../images/sin.png) no-repeat;
	width: 53px;
	height: 53px;
	top: -6px;
	opacity: 0.1;
}

.pageMain{
	position:relative; 
	display:block; 
	height:100%; 
	padding:0 20px;
}
.titleBar{
	display:inline-block; 
	width:93%; 
	border-bottom:1px solid #000; 
	height:20px; 
	padding:30px 15px 20px;
	font-family: 'MinionPro'; 
	font-size:24px; 
	line-height:26px; 
	text-align:center;
}

.pageSecMain{
	position:relative; 
	height:100%;
}
.pageSlideMain{
	position:relative; 
	overflow:hidden; 
	height:550px; 
	width:100%;
}
.data_parent{
	position:absolute; 
	top:0; left:0; 
	right:0;
	transform:translateY(-100%);
	transition:all 0.4s ease-in-out;
} 
.slideSec{
	max-width:720px; 
	vertical-align:top; 
	background: url(../images/light-bg.jpg) repeat left top;
	border:5px solid #fff;
	margin:auto;
	border-top:none;
	/*padding: 20px;*/
	padding: 30px 0px 20px 0px;
	text-align: center;  
}

.dataSlide.data_parent {
	transform:translateY(0);
}

.SlideTitle{
	display:block; 
	padding:7px 0; 
	font-family: 'MinionPro'; 
	font-size:38px; 
	text-transform:uppercase; 
	font-style:italic;
}
.SlideTitleInside{
	display:block; 
	padding:15px 0; 
	font-family: 'MinionPro'; 
	font-size:30px; 
	text-transform:uppercase; 
}
.SlideTitleEx{
	display:block; 
	padding:15px 0 15px 70px; 
	font-family: 'MinionPro'; 
	font-size:30px; 
	text-transform:uppercase;
	width:586px; 
}
.SlideTitleIn{
	display:block; 
	padding:15px 0 15px 70px; 
	font-family: 'MinionPro'; 
	font-size:30px; 
	text-transform:uppercase;
	width:579px; 
}
.slideCon {
	padding:25px 30px;
}
.slideCon p{
	display:block; 
	font-size:20px; 
	line-height:26px; 
	margin-bottom:20px; 
	font-family:'Facit';
	padding:0 65px 0 65px;
}
.slideImg{
	display:block; 
	padding:15px 0;
}
.popBtn,.procBtn{
	display:inline-block; 
	margin:auto; 
	border:4px solid #fff; 
	font-family: 'MinionPro'; 
	font-size:20px; 
	line-height:30px; 
	color:#771b08; 
	text-decoration:none; 
	padding:10px; 
	min-width:240px; 
	transition:all 0.4s ease-in-out;
}
.checkBtn{
	display:inline-block; 
	margin:auto; 
	border:4px solid #fff; 
	font-family: 'MinionPro'; 
	font-size:20px; 
	line-height:30px; 
	color:#771b08; 
	text-decoration:none; 
	padding:10px; 
	min-width:240px; 
	transition:all 0.4s ease-in-out;
}
.internalBtn{
	display:inline-block; 
	margin:auto; 
	/*border:4px solid #fff; */
	font-family: 'MinionPro'; 
	font-size:20px; 
	line-height:30px; 
	color:#771b08; 
	text-decoration:none; 
	padding:10px; 
	min-width:170px; 
	transition:all 0.4s ease-in-out;
}
.externalBtn{
	display:inline-block; 
	margin:auto; 
	/*border:4px solid #fff; */
	font-family: 'MinionPro'; 
	font-size:20px; 
	line-height:30px; 
	color:#771b08; 
	text-decoration:none; 
	padding:10px; 
	min-width:170px; 
	transition:all 0.4s ease-in-out;
}
.popBtn:hover ,.procBtn:hover, .checkBtn:hover {
	background:rgba(0, 129, 194, 0.27); 
	color:#000;
}

.contentBox{
	width:415px;
	background:url(../images/light-bg.jpg) repeat left top;
	border:5px solid #fff; 
	position:absolute; 
	left:0; 
	right:0; 
	bottom:0; 
	top:inherit; 
	margin:auto; 
	min-height:40px; 
	padding:5px 30px; 
	margin-bottom:35px;
}
.indexTitle{
	display:block;
	position:relative;
	font-size:18px;
	font-family: 'MinionPro';
	line-height: 16px;
	color:#000;
	text-align:center;
	/*background:rgba(231, 28, 36, 0.25);
	padding: 5px 30px 10px;
	cursor:pointer; 
	margin-bottom:25px;*/
}
/*.indexTitle:before{
	content:"";
	 background: url('../images/sprite.png') no-repeat -2px -2px;
	 width: 18px;
	 height: 18px; 
	 position:absolute ; 
	 left:10px; 
	 top:0; 
	 bottom:0; 
	 margin:auto;
	  -moz-transition:all 0.4s ease-in-out;
	   -ms-transition:all 0.4s ease-in-out; 
	   -webkit-transition:all 0.4s ease-in-out; 
	   transition:all 0.4s ease-in-out;
}
.indexTitle:after{
	content:""; 
	background: url('../images/sprite.png') no-repeat -2px -2px;
	width: 18px;
	height: 18px; 
	position:absolute ; 
	right:10px; 
	top:0;
	 bottom:0; 
	 margin:auto; 
	 -moz-transition:all 0.4s ease-in-out; 
	 -ms-transition:all 0.4s ease-in-out; 
	 -webkit-transition:all 0.4s ease-in-out; 
	 transition:all 0.4s ease-in-out;
}
.indexTitle.indexActive{
	background:rgba(0, 129, 194, 0.27);
}
.indexTitle.indexActive:before, .indexTitle.indexActive:after{
	transform:rotate(45deg);
}
.indexTitle:hover{
	background:rgba(0, 129, 194, 0.27);
}
.indexTitle.indexActive:hover{/*background:rgba(231, 28, 36, 0.25);*/}

.indexBody{
	width:100%; 
	display:none; 
	border-top:1px solid #000; 
	padding-top:15px;
}
.indexNAv{
	list-style:none; 
	display:block; 
	width:100%;
}
.indexFirstLav{
	display:table; 
	font-size:16px; 
	line-height:20px; 
	color:#000;
	padding:5px 0 2px 0; 
	margin-bottom:5px; 
	width:100%; 
	cursor:pointer; 
	-moz-transition:all 0.4s ease-in-out; 
	-ms-transition:all 0.4s ease-in-out; 
	-webkit-transition:all 0.4s ease-in-out; 
	transition:all 0.4s ease-in-out;
}
.indexFirstLav.indeSubActive, .indexFirstLav:hover{
	background:rgba(0, 129, 194, 0.27);
}
.indexFirstLav.indeSubActive:hover{
	/*background:rgba(231, 28, 36, 0.25);*/
}
.indexFirstLav span{
	display:table-cell; 
	vertical-align:bottom;
	white-space:nowrap;
}
.indexFirstLav span.navText, .indexFirstLav span.nacCount{
	width:1%;
}
.indexFirstLav span.navText{
	padding-right:10px;
}
.indexFirstLav span.nacCount{
	padding-left:10px;
 }
.indexFirstLav span.navDotLine{
	/*border-bottom:2px dotted #000; 
	margin:0 10px;*/ 
	background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 20%);
	background-position: bottom; 
	background-size: 10px 2px;
	background-repeat: repeat-x;
}

.subNav{
	display:block; 
	width:100%;
}
.subNav li{
	display:inline-block; 
	width:100%; 
	font-size:16px; 
	line-height:22px; 
	color:#771b08; 
	padding:2px 0;
}
.subNav li span{
	float:left;
	width:50%;
}
.SlideQuestion {
	display:block; 
	padding:15px 0; 
	font-family: 'MinionPro'; 
	font-size:24px; 
}
.curantPage{display:block;}

/* external section */
.externalTitle{
	position:absolute; 
	min-width:300px; 
	text-align:center; 
	left:20px; top:0; 
	background:url(../images/light-bg.jpg) repeat left top; 
	border:4px solid #fff; 
	border-top:none; 
	border-bottom:6px solid #fff;
	padding:15px; 
	font-size:20px;  z-index:9999;
	line-height:50px;
}
.externalTitle .partName{
	color:#771b08;
	font-style:italic;
}

.externalImgMain{
	display:inline-block;
	margin:auto;
	position:absolute; left:20px; right:20px;
	top: 50%;
	-moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-top: 0;  height:100%;
}
.imgSlider{width:100%; height:100%;}

.slideItem{ width:100%; height:100%;
	display:none;
}
#rollovers{width:100%; height:100%;}

.sliderArrow{
	position:absolute; 
	top:0; bottom:0; 
	line-height:100%; 
	font-size:30px; 
	width:40px; 
	background:none;
	border:none; 
	font-size:22px; 
	cursor:pointer; 
	font-weight:bold; 
	transition:all 0.4s ease-in-out; z-index:999;
}
.sliderArrow:hover{
	background:rgba(0, 129, 194, 0.27);
}

.sliderArrow.prev{
	left:-0; 
	transform:rotate(180deg);
}
.sliderArrow.next{
	right:0;
}
/* Internal section */
.internalTitle{
	position:absolute; 
	min-width:300px; 
	text-align:center; 
	left:20px; top:0; 
	background:url(../images/light-bg.jpg) repeat left top; 
	border:4px solid #fff; 
	border-top:none; 
	border-bottom:6px solid #fff;
	padding:15px; 
	font-size:20px; 
	line-height:50px; z-index:12;
	
	transition: all 0.4 ease-in-out;
}
.internalTitle .partName{
	color:#771b08;
	font-style:italic;
}

.internalImgMain{
	display:inline-block;
	margin:auto;
	position:relative;
	top: 65%;
	transform: translateY(-50%);
	margin-top: -60px;
}
.slideInner{position:relative; display:inline-block; width:auto; margin:auto; top:50%; transform:translateY(-50%);}

.hoverImg{display:none; position:absolute;  -webkit-transition: all 2s ease; -moz-transition: all 2s ease; -ms-transition: all 2s ease; transition: all 2s ease;}
.internalImgMain{display: inline-block;
margin: auto;
    margin-top: auto;
position: relative;
top: 65%;
transform: translateY(-50%);
margin-top: -60px;
width: 100%;
height: 100%;
}
.partsPopup{ position:relative; z-index:99999; }

svg path{fill:#fff; }
.hoverBlue{cursor:pointer; transition:all 0.4s ease-in-out;position:relative}
.hoverBlue:hover{fill:#a6d3ea}
.hoverBlue:hover path{fill:#a6d3ea}

#secondSvg{margin-top:-40px;}

.antennae{position:relative; }

.partsName{ position:absolute; opacity:0;visibility:hidden; transition:all 0.4s ease-in-out;}
.partsName.visibleText{visibility:visible; opacity:1}
.antennae_text{right: 88px;top: 100px;}
.cheliped_text{bottom: 210px;right: 70px;}
.walking_lags_text{bottom: 0px;right: 130px; -moz-transform: rotate(-6deg); -ms-transform: rotate(-6deg); -webkit-transform: rotate(-6deg); transform: rotate(-6deg);}
.abdomen_text{left: 28px; top: 158px;}
.cephalothorax_text{left: -41px;right: 0; top: 60px;}

.uropods_top_text{left: 17px;top: 220px;}
.uropods02_text{left: 24px;top: 200px;}
.telson_text {left: 25px;top: 50%;margin-top: 7px;}
.anus02_text{left: 24px;top: 260px;}
.swimmerets02_text{top:110px; left:250px;}
.walking_legs02_text{bottom: 22px;right: 200px;z-index: -1;}
.antennace02_text{top: 235px;right: 10px;}
.mouth_parts02_text{top:255px; right:0;}
.Cheliped02_text{right: 110px;top: 43px;}
.uropods02_text{}

.abdomen_top_text{top: 155px; left: 217px; }
.walking_legs_top_text{bottom: 18px; right: 170px;}
.cheliped_top_text{right: 92px; top: 82px;}
.compound_eyes_top_text{right: 118px;
    top: 40px;
    bottom: 0;
    margin: auto;
    height: 44px;}
.antennae_top_text{right: 15px;top: 260px;}
.cephalothorax_top_text {bottom: 60px;right: 360px;}