@font-face {
    font-family: 'Facit';
    src: url('../fonts/Facit-Extralight.eot');
    src: url('../fonts/Facit-Extralight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Facit-Extralight.woff') format('woff'),
        url('../fonts/Facit-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Facit';
    src: url('../fonts/Facit-Light.eot');
    src: url('../fonts/Facit-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Facit-Light.woff') format('woff'),
        url('../fonts/Facit-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Facit';
    src: url('../fonts/Facit-Bold.eot');
    src: url('../fonts/Facit-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Facit-Bold.woff') format('woff'),
        url('../fonts/Facit-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Facit';
    src: url('../fonts/Facit-Extrabold.eot');
    src: url('../fonts/Facit-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Facit-Extrabold.woff') format('woff'),
        url('../fonts/Facit-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Facit';
    src: url('../fonts/Facit-Semibold.eot');
    src: url('../fonts/Facit-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Facit-Semibold.woff') format('woff'),
        url('../fonts/Facit-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Facit';
    src: url('../fonts/facit/Facit-Regular.eot');
    src: url('../fonts/facit/Facit-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/facit/Facit-Regular.woff') format('woff'),
        url('../fonts/facit/Facit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Digiface';
	src: url('../fonts/Digiface.eot');
	src: url('../fonts/Digiface.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Digiface.woff') format('woff'),
		url('../fonts/Digiface.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Auburn';
	src: url('../fonts/Auburn.eot');
	src: url('../fonts/Auburn.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Auburn.woff') format('woff'),
		url('../fonts/Auburn.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Adobe Caslon Pro';
	src: url('../fonts/ACaslonPro-Regular.eot');
	src: url('../fonts/ACaslonPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ACaslonPro-Regular.woff') format('woff'),
		url('../fonts/ACaslonPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Adobe Caslon Pro';
	src: url('../fonts/ACaslonPro-Semibold.eot');
	src: url('../fonts/ACaslonPro-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ACaslonPro-Semibold.woff') format('woff'),
		url('../fonts/ACaslonPro-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Adobe Caslon Pro';
	src: url('../fonts/ACaslonPro-Bold.eot');
	src: url('../fonts/ACaslonPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ACaslonPro-Bold.woff') format('woff'),
		url('../fonts/ACaslonPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Adobe Caslon Pro';
	src: url('../fonts/ACaslonPro-BoldItalic.eot');
	src: url('../fonts/ACaslonPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ACaslonPro-BoldItalic.woff') format('woff'),
		url('../fonts/ACaslonPro-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Adobe Caslon Pro';
	src: url('../fonts/ACaslonPro-SemiboldItalic.eot');
	src: url('../fonts/ACaslonPro-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ACaslonPro-SemiboldItalic.woff') format('woff'),
		url('../fonts/ACaslonPro-SemiboldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Adobe Caslon Pro';
	src: url('../fonts/ACaslonPro-Italic.eot');
	src: url('../fonts/ACaslonPro-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ACaslonPro-Italic.woff') format('woff'),
		url('../fonts/ACaslonPro-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
