#A{
   top: 38px;
   left: -125px;
   width: 177px;
   text-align: left;
   border: 0px solid black;
}
#B{
   top: -50px;
   left: 250px;
   width: 171px;
   text-align: right;
   border: 0px solid black;
}
#C{
   top: -34px;
   right: -42px;
   width: 57px;
   text-align: right;
   border: 0px solid black;
}
#D{
   bottom: 234px;
   right: -20px;
   width: 200px;
   text-align: right;
   border: 0px solid black;
}
#E{
   bottom: -43px;
   left: 300px;
   width: 164px;
   text-align: left;
   border: 0px solid black;
}
#F{
   top: 264px;
   left: -42px;
   width: 210px;
   text-align: right;
   border: 0px solid black;
}
#G{
   top: 165px;
   left: -95px;
   width: 130px;
   text-align: left;
   border: 0px solid black;
}
#H{
   top: 39px;
   left:74px;
   width: 182px;
   text-align: left;
   border: 0px solid black;
}
#I{
   top: -34px;
   right: -56px;
   width: 178px;
   text-align: right;
   border: 0px solid black;
}
#J{
   bottom: -62px;
   left: 362px;
   width: 100px;
   text-align: left;
   border: 0px solid black;
}
#K{
   top:173px;
   right: 8px;
   width: 170px;
   text-align: right;
   border: 0px solid black;
}
#L{
   top: 145px;
   right: -110px;
   width: 137px;
   text-align: right;
   border: 0px solid black;
}
#M{
   top: 214px;
   left:-100px;
   width: 100px;
   text-align: left;
   border: 0px solid black;
   margin-top: -20px;
}
#N{
   bottom: 114px;
   left: 58px;
   width: 100px;
   text-align: right;
   border: 0px solid black;
}
#O{
   top: 67px;
   left: 82px;
   width: 100px;
   text-align: left;
   border: 0px solid black;
}
#P{
   top: 5px;
   right: -47px;
   width: 100px;
   text-align: right;
   border: 0px solid black;
}
#Q{
   top: 418px;
   right: -16px;
   width: 150px;
   text-align: left;
   border: 0px solid black;
   left: 115px;
   margin: auto;
}
#R{
   bottom: 74px;
   left: 164px;
   width: 100px;
   text-align: left;
   border: 0px solid black;
}
#S{
	right: -2px;
    top: 189px;
    width: 130px;
    text-align: right;
    border: 0px solid black;
   
}
#T{
   top: 190px;
   right: -110px;
   width: 100px;
   text-align: right;
   border: 0px solid black;
}


#A-in{
	top: 200px;
	left: 100px;
	width: 177px;
	text-align: left;
	border: 0px solid black;
}
#B-in{
	top: 400px;
	left: 150px;
	width: 171px;
	text-align: right;
	border: 0px solid black;
}
#C-in{
	top: 266px;
	right: 232px;
	width:100px;
	text-align: left;
	border: 0px solid black;
}
#D-in{
	top: 475px;
	left: 344px;
	width: 57px;
	text-align: left;
	border: 0px solid black;
}
#E-in{
	top: 185px;
	left: 347px;
	width: 57px;
	text-align: left;
	border: 0px solid black;
}
#F-in{
	top: 344px;
	right: 170px;
	width: 57px;
	text-align: right;
	border: 0px solid black;
}