/* quiz style*/
.customRadio{
	display:inline-block; 
	margin:auto; 
	border:4px solid #fff; 
	font-family: 'MinionPro'; 
	font-size:20px; 
	line-height:30px; 
	color:#771b08; 
	text-decoration:none; 
	padding:10px; 
	transition:all 0.4s ease-in-out;
	margin-bottom:10px;
	width:540px;
	cursor:pointer;
}
.customRadio:not(.no-hover):hover{
	background:rgba(0, 129, 194, 0.27); 
	color:#000;
	
}
.no-hover{
	cursor:default !important;
}
.customRadios{
	display:inline-block; 
	margin:auto; 
	border:4px solid #fff; 
	font-family: 'MinionPro'; 
	font-size:20px; 
	line-height:30px; 
	color:#771b08; 
	text-decoration:none; 
	padding:10px; 
	transition:all 0.4s ease-in-out;
	margin-bottom:10px;
	width:540px;
	cursor:pointer;
}
.customRadios:not(.no-hover):hover{
	background:rgba(0, 129, 194, 0.27); 
	color:#000;
}
.customRadioIn{
	display:inline-block; 
	margin:auto; 
	border:4px solid #fff; 
	font-family: 'MinionPro'; 
	font-size:20px; 
	line-height:30px; 
	color:#771b08; 
	text-decoration:none; 
	padding:10px; 
	transition:all 0.4s ease-in-out;
	margin-bottom:10px;
	width:540px;
	cursor:pointer;
}
.customRadioIn:not(.no-hover):hover{
	background:rgba(0, 129, 194, 0.27); 
	color:#000;
}
input[type="radio"] {
  display: none;
}

.quizend{
	display:block; 
	padding:15px 100px;
	width:460px; 
	font-family: 'MinionPro'; 
	font-size:30px; 
}
/*******************************************************************************************************/
#navContent{
margin:auto;	
position:relative;
overflow:hidden;
}

#navContentIn{
margin:auto;	
position:relative;
}



 