<div id="popupsections">
    <!--============================================================
         == FIRST POPUP THAT SHOWS WHEN APPLICATION IS LAUNCHED      
    ============================================================ -->
    <div id="first">
        <div class="normalS">
            <p>To turn <span class="bolder">ON</span> keyboard accessibility (508) press the <span class="bolder">A</span> key.<br />Once 508 is ON you will be required to use a keyboard for the entire lab.<br />Visual aids will guide you, and your mouse will be disabled.</p>
            <div class="divide"></div>
            <p>To use <span class="bolder">MOUSE</span> control throughout the lab press <span class="bolder">CONTINUE</span> below.</p>
            <div class="divide"></div>

            <p>If you <span class="bolder">EXIT</span> this lab before completion your progress will not be saved.</p>

            <div class="exitBtn exitBtnL"><p class="buttonS">CONTINUE</p></div>
        </div>
    </div>

    <!--============================================================
          == TUTORIAL 1/NAVIGATION POPUP TO APPLICATION		 
     ============================================================ -->
<div id="tutorials">  <!-- OPENS DURING INITIAL APPLICATION LOAD -->
       <div class="normalL">
            <div class="exitBtn"><p>EXIT</p></div>

            <h1>TUTORIALS<br /><span class="secondLine">(select a tutorial below)</span></h1>
            <p class="specialp_1"><button id="tutLink1" class="navButton link1">NAVIGATION</button><div class="accTxt" style="top:138px;"><div class="arrow-left"></div><p>1</p></div> </p>
            
        </div>
    </div>
    
    
    
            
             <!--============================================================
          == TUTORIAL 1/NAVIGATION POPUP TO APPLICATION		 
     ============================================================ -->
    <div id="tutorial1">
        <div class="normalL">


            <div class="arrowL_P"> 
                <div class="acc"></div>
                <div class="arrow-left_P"></div> 
            </div>


            <div id="nav1" class="tutSlide">
                <div class="tutText">
                    <h1>NAVIGATION OVERVIEW</h1>
                       <p>There are 3 main sections that require interaction: the HEADER, INSTRUCTION, and WORK AREA.<br />Select the right arrow &nbsp;<span id="blackRight"></span>&nbsp; to continue forward and the left arrow &nbsp;<span id="blackLeft"></span>&nbsp; to move backward<br /> through the tutorial pages.</p>
                       </div>
                <div class="navImages"><img src="images/navTutorial/page-01.png" /> </div>
            </div>

            <div id="nav2" class="tutSlide">
                <div class="tutText">
                    <h1>HEADER SECTION</h1>
                    <p>The application title is shown on the left and on the right there are interactive buttons. Hover over a button <br/>
                        to view a description. Open a button by selecting it (for 508 use the letter). The buttons turn orange when active.<br/>
                        The application will dictate the interactive buttons needed, for example not all will have a video. </p></div>
                <div class="navImages"><img src="images/navTutorial/page-02.png" /> </div>
            </div>	


            <div id="nav3" class="tutSlide">
                <div class="tutText">

                    <h1>INSTRUCTION SECTION</h1>
                    <p>This INSTRUCTION section shows a PROCEDURE, DATA, and EQUIPMENT segment. Each segment<br/>opens like an accordion by selecting its header bar. Not all applications will require the collecting<br/>of DATA or the use of EQUIPMENT, so these segments may look different in your application.</p></div>
                <div class="navImages"><img src="images/navTutorial/page-03.png" /> </div>

            </div>


            <div id="nav4" class="tutSlide">
                <div class="tutText">
                    <h1>INSTRUCTIONS/PROCEDURES</h1>
                    <p>The PROCEDURE segment contains detailed instructions for completing objectives. Switch between PROCEDURES <br/>
by selecting the numbered square, the active procedure will highlight orange. Move between pages by selecting <br/>
the right or left arrow at the bottom of the PROCEDURE column. The dots indicate the quantity of instruction pages.
</p></div>
                <div class="navImages"><img src="images/navTutorial/page-04.png" /> </div>
            </div>


            <div id="nav5" class="tutSlide">
                <div class="tutText">
                    <h1>INSTRUCTIONS/DATA</h1>
                    <p>The DATA segment is located directly below the PROCEDURES, to open it click on the word DATA. Each DATA set will<br/> 
                        have a number that corresponds with each PROCEDURE. Switch between DATA sets by selecting the numbered <br/>
                        square, it will highlight orange when it is open. Enter DATA by clicking inside one of the cells. </p></div>
                <div class="navImages"><img src="images/navTutorial/page-05.png" /> </div>
            </div>


            <div id="nav6" class="tutSlide">
                <div class="tutText">
                    <h1>INSTRUCTIONS/EQUIPMENT</h1>
                    <p>The EQUIPMENT segment is located directly below the DATA segment, to open it click on its header bar.<br/>
The EQUIPMENT needed is displayed with a small labeled graphic. You may see different EQUIPMENT <br/>
for each PROCEDURE. To use the EQUIPMENT, either click on it or drag-and-drop it into the work area.
</p></div>
                <div class="navImages"><img src="images/navTutorial/page-06.png" /> </div>
            </div>


            <div id="nav7" class="tutSlide">
                <div class="tutText">
                    <h1>WORK AREA SECTION</h1>
                    <p>In this section you will utilize all items in the work area to <br />
                        perform the procedures outlined.</p></div>
                <div class="navImages"><img src="images/navTutorial/page-07.png" /> </div>
            </div>

            <div id="tutDolt"><ul></ul></div>

            <div class="arrowR_P"> 
                <div class="acc"></div>
                <div class="arrow-right_P"></div> 

            </div>
            <div class="exitBtn tutExit"><p>EXIT</p></div>
        </div>
    </div>

            
            
            
            
</div><!--popupsections end div-->