<div id="sidePanelContent">
    <h3 class="topMenu" ><span class="sideLetter sideLetterAccessOff">P</span><span class="sideText">PROCEDURE</span></h3>
    <div id="procedurePanel" class="content">
        <div class="inst">
            <ol>
                <li><span class="accContentOff">In this anatomy exercise, you will work through and be quizzed on an OVERVIEW, EXTERNAL and INTERNAL section of the crayfish.</span>
                <span class="accContentOn">In this anatomy exercise, you will work through and be quizzed on an OVERVIEW, EXTERNAL and INTERNAL section of the crayfish.</span></li>
                
                <li><span class="accContentOff">Start by selecting the PROCEED button. This will begin the OVERVIEW section. Select PROCEED again to begin.</span>
                <span class="accContentOn">Start by selecting the “P” key to PROCEED. This will begin the OVERVIEW section. Select the “P” key again to begin.</span></li>
                
                <li><span class="accContentOff">After you complete the OVERVIEW quiz, you will choose either the EXTERNAL or INTERNAL section.</span>
                <span class="accContentOn">In the multiple choice OVERVIEW QUIZ use number keys “1, 2, 3 or 4” to select your answer, then “P” to proceed.</span></li> 
                
                <li><span class="accContentOff">In the EXTERNAL and INTERNAL sections, you will view illustrations of the crayfish and will be asked to locate certain features.</span>
                <span class="accContentOn">After you complete the OVERVIEW quiz, you will choose either the EXTERNAL or INTERNAL section by selecting the appropriate key.</span></li>
                
                <li><span class="accContentOff">Slowly roll your mouse over the illustration to reveal labeled features of the crayfish. Click on a labeled feature to select your answer.</span>
                <span class="accContentOn">In the EXTERNAL and INTERNAL sections, you will view illustrations of the crayfish and will be asked to locate certain features. Use the bracket keys, “[ or ]”, to move through the labeled features of the crayfish. To select a feature, click the “ENTER” button.</span></li> 
                
                
                
            </ol>
        </div>

        <div class="inst">
            <ol start="6">
            	<li><span class="accContentOff">There are several illustrations in the EXTERNAL and INTERNAL sections. Select the arrows on either side to move through the illustrations.</span>
                <span class="accContentOn">There are several illustrations in the EXTERNAL and INTERNAL sections. To move between multiple illustrations, use the carrot keys “< >”.</span></li>
                
                <li><span class="accContentOff">After working through all three sections, you have completed the crayfish anatomy exercise.</span>
                <span class="accContentOn">After working through all three sections, you have completed the crayfish anatomy exercise.</span></li>
               
               
            </ol>
        </div>
        <div id="arrowHolder"><div id="arrw_L"></div><div id="doltContainer"><ul></ul></div><div id="arrw_R"></div></div>
    </div>
</div>