<div id="sidePanelContent"> <!-- START SIDE PANEL CONTENT -->

    <!-- ======================================
    == START PROCEDURES TAB    !** NOTE **!    THIS IS A MANDATORY ITEM
    ====================================== -->
    <div id="Procedures" class="P">
        <!-- THIS IS PROCEDURE 1; COPY/PASTE TO CREATE PROCEDURES 2 AND 3 -->
        <div class="procedure"><!-- START OF PROCEDURE 1 -->
             <div class="inst">
            <ol>
                <li><span class="accContentOff">In this anatomy exercise, you will work through and be quizzed on an OVERVIEW, EXTERNAL and INTERNAL section of the crayfish.</span>
                <span class="accContentOn">In this anatomy exercise, you will work through and be quizzed on an OVERVIEW, EXTERNAL and INTERNAL section of the crayfish.</span></li>
                
                <li><span class="accContentOff">Start with the OVERVIEW section by selecting the button along the bottom. Read the brief introduction and select Proceed.</span>
                <span class="accContentOn">Start by selecting the "O" key to begin the OVERVIEW. Read the brief introduction, then select "P" to proceed.</span></li>
                
                <li><span class="accContentOff">After you complete the OVERVIEW quiz, you will choose either the EXTERNAL or INTERNAL section.</span>
                <span class="accContentOn">In the multiple choice OVERVIEW QUIZ use number keys “1, 2, 3 or 4” to select your answer, then “P” to proceed.</span></li> 
                
                <li><span class="accContentOff">In the EXTERNAL and INTERNAL sections, you will view illustrations of the crayfish and will be asked to locate certain features.</span>
                <span class="accContentOn">After you complete the OVERVIEW quiz, you will choose either the EXTERNAL or INTERNAL section by selecting the appropriate key.</span></li>
                
                <li><span class="accContentOff">Slowly roll your mouse over the illustration to reveal labeled features of the crayfish. Click on a labeled feature to select your answer.</span>
                <span class="accContentOn">In the EXTERNAL and INTERNAL sections, you will view illustrations of the crayfish and will be asked to locate certain features. Use the bracket keys, “[ or ]”, to move through the labeled features of the crayfish. To select a feature, click the “ENTER” button.</span></li> 
                
                
                
            </ol>
        </div>

        <div class="inst">
            <ol start="6">
            	<li><span class="accContentOff">There are several illustrations in the EXTERNAL and INTERNAL sections. Select the arrows on either side to move through the illustrations.</span>
                <span class="accContentOn">There are several illustrations in the EXTERNAL and INTERNAL sections. To move between multiple illustrations, use the carrot keys “< >”.</span></li>
                
                <li><span class="accContentOff">After working through all three sections, you have completed the crayfish anatomy exercise.</span>
                <span class="accContentOn">After working through all three sections, you have completed the crayfish anatomy exercise.</span></li>
               
               
            </ol>
        </div>

           
        </div><!-- END OF PROCEDURE 1 -->



</div> <!-- END SIDE PANEL CONTENT -->